/* main Precios*/

.mainPrecios{

	div {
		width: 80%;
		margin: 0 auto;
		padding-top: 10px;
		padding-bottom: 10px;

		table {
			width: 100%;
			border-collapse: collapse;
			text-align: center;

			thead {
				tr {
					th {
						border: 1px solid black;
						padding: 8px;
					}
				}
			}

			tbody {
				tr {
					td {
						border: 1px solid black;
						padding: 8px;
					}
				}
			}
		}

		p {
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
			font-weight: bold;
		}
	}
}