%boton{
    font-size: 1rem;
    text-decoration: none;
    background-color: #A3B4AE;
    border-radius: 6px;
    width: 120px;
    padding: 12px;
    text-align: center;
    margin-top: 15px;
    color: whitesmoke;
}
