/*Media queries*/

/*Vista Mobile*/

@media (max-width: 768px) {
    .main-index {
        .seccion-uno {
            flex-direction: column;
            width: 90vw;
            padding-top: 10px;

            &-texto {
                align-items: center;
                text-align: center;
                margin-bottom: 35px;
            }
        }
    }


    .main-habitaciones {
        .seccion-uno {
            flex-direction: column;
            width: 90vw;
            padding-top: 10px;

            &-texto {
                align-items: center;
                text-align: center;
                margin-bottom: 35px;
            }
        }

        .seccion-dos {
            display: flex;
            flex-direction: column-reverse;
            width: 90vw;
            padding-top: 10px;

            &-texto {
                align-items: center;
                text-align: center;
                margin-bottom: 35px;
            }
        }
        
        .seccion-tres {
            flex-direction: column;
            width: 90vw;
            padding-top: 10px;

            &-texto {
                align-items: center;
                text-align: center;
                margin-bottom: 35px;
            }
        }
        
   
    }

}

/*Vista Tablet*/

@media (max-width: 1024px) {
    .main-index {
        .seccion-uno {
            flex-direction: column;
            width: 90vw;
            padding-top: 10px;

            &-texto {
                align-items: center;
                text-align: center;
                margin-bottom: 35px;
            }
        }
    }


    .main-habitaciones {
        .seccion-uno {
            flex-direction: column;
            width: 90vw;
            padding-top: 10px;

            &-texto {
                align-items: center;
                text-align: center;
                margin-bottom: 35px;
            }
        }

        .seccion-dos {
            display: flex;
            flex-direction: column-reverse;
            width: 90vw;
            padding-top: 10px;

            &-texto {
                align-items: center;
                text-align: center;
                margin-bottom: 35px;
            }
        }
        
        .seccion-tres {
            flex-direction: column;
            width: 90vw;
            padding-top: 10px;

            &-texto {
                align-items: center;
                text-align: center;
                margin-bottom: 35px;
            }
        }
        
   
    }

}